<div class="container-fluid">
<div class="navbar navbar-default">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".navbar-offcanvas" data-canvas="body">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">NoteMyEvent</a>
        </div>
        <div class="navbar-offcanvas offcanvas">
          <ul class="nav navbar-nav">
            <li><a href="../navmenu/">Slide in</a></li>
            <li><a href="../navmenu-push/">Push</a></li>
            <li><a href="../navmenu-reveal">Reveal</a></li>
            <li class="active"><a href="./">Off canvas navbar</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>
        </div>
</div>
    <div class="container-fluid">
<div class="row">
    <div class="col-sm-4">
        <div class="thumbnail" style="background-color:lavender;">
            <div class="caption">
                <h1>Title</h1>
                <h3>Event Photos</h3>
                <p>Innovate customized ecologied bcksksmdksmdsdskmdksdksmdkskdms jsndjns dksdk dnksndk ndksnd dkmsdm nksnd nksdn ksdmsk jjdjns
                    sdsjdns dsjnd dnsjdn sdnsjdn </p>
                <button type="button" class="btn btn-primary" ng-click="openAddModal('addModal')">Add</button>
<!--
                <p ><a href="/view/common/modals/addModal.html" class="btn btn-primary" role="button" ng-click="">Add</a>
-->
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="thumbnail" style="background-color:lavenderblush;">
            <div class="caption">
            <h1>Title</h1>
        <h3>Event Photos</h3>
        <p>Innovate customized ecologied bcksksmdksmdsdskmdksdksmdkskdms jsndjns dksdk dnksndk ndksnd dkmsdm nksnd nksdn ksdmsk jjdjns
            sdsjdns dsjnd dnsjdn sdnsjdn </p>
                <p><a href="#" class="btn btn-primary" role="button"  ng-click="openAddModal('addModal')">Add</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="thumbnail" style="background-color:lavender;">
            <div class="caption">
                <h1>Title</h1>
                <h3>Event Photos</h3>
                <p>Innovate customized ecologied bcksksmdksmdsdskmdksdksmdkskdms jsndjns dksdk dnksndk ndksnd dkmsdm nksnd nksdn ksdmsk jjdjns
                    sdsjdns dsjnd dnsjdn sdnsjdn </p>
                <p><a href="#" class="btn btn-primary" role="button">Add</a>
            </div>
        </div>
    </div>
</div>
</div>
</div>